body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sBTO9JpJXU .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
.cid-sBTO9JpJXU .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-sBTO9JpJXU a {
  font-style: normal;
}
.cid-sBTO9JpJXU .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-sBTO9JpJXU .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sBTO9JpJXU .nav-item:focus,
.cid-sBTO9JpJXU .nav-link:focus {
  outline: none;
}
.cid-sBTO9JpJXU .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sBTO9JpJXU .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sBTO9JpJXU .menu-logo {
  margin-right: auto;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand {
  display: -webkit-flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}
.cid-sBTO9JpJXU .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sBTO9JpJXU .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-sBTO9JpJXU .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sBTO9JpJXU .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sBTO9JpJXU .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sBTO9JpJXU .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sBTO9JpJXU .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-sBTO9JpJXU .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sBTO9JpJXU .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sBTO9JpJXU .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sBTO9JpJXU .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sBTO9JpJXU .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-sBTO9JpJXU .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sBTO9JpJXU .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sBTO9JpJXU .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sBTO9JpJXU .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-sBTO9JpJXU .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sBTO9JpJXU button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-sBTO9JpJXU button.navbar-toggler:focus {
  outline: none;
}
.cid-sBTO9JpJXU button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff6666;
}
.cid-sBTO9JpJXU button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sBTO9JpJXU button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sBTO9JpJXU button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sBTO9JpJXU button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sBTO9JpJXU nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sBTO9JpJXU nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sBTO9JpJXU nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sBTO9JpJXU nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sBTO9JpJXU .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sBTO9JpJXU .collapsed .btn {
  display: -webkit-flex;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sBTO9JpJXU .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sBTO9JpJXU .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-sBTO9JpJXU .collapsed button.navbar-toggler {
  display: block;
}
.cid-sBTO9JpJXU .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sBTO9JpJXU .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sBTO9JpJXU .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-sBTO9JpJXU .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sBTO9JpJXU .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sBTO9JpJXU .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-sBTO9JpJXU .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sBTO9JpJXU img {
    height: 3.8rem !important;
  }
  .cid-sBTO9JpJXU .btn {
    display: -webkit-flex;
  }
  .cid-sBTO9JpJXU button.navbar-toggler {
    display: block;
  }
  .cid-sBTO9JpJXU .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sBTO9JpJXU .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sBTO9JpJXU .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing,
  .cid-sBTO9JpJXU .navbar-collapse.show {
    display: block !important;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing .navbar-nav,
  .cid-sBTO9JpJXU .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sBTO9JpJXU .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-sBTO9JpJXU .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing .navbar-buttons,
  .cid-sBTO9JpJXU .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sBTO9JpJXU .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sBTO9JpJXU .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sBTO9JpJXU .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-sBTO9JpJXU .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sBTO9JpJXU .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sBTO9JpJXU .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-sBTO9JpJXU .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-sBTO9JpJXU .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-sBTO9JpJXU .nav-link:hover,
.cid-sBTO9JpJXU .dropdown-item:hover {
  color: #e43f3f !important;
}
.cid-sBTVQJtqMm .modal-body .close {
  background: #1b1b1b;
}
.cid-sBTVQJtqMm .modal-body .close span {
  font-style: normal;
}
.cid-sBTVQJtqMm .carousel-inner > .active,
.cid-sBTVQJtqMm .carousel-inner > .next,
.cid-sBTVQJtqMm .carousel-inner > .prev {
  display: table;
}
.cid-sBTVQJtqMm .carousel-control .icon-next,
.cid-sBTVQJtqMm .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-sBTVQJtqMm .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sBTVQJtqMm .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sBTVQJtqMm .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-sBTVQJtqMm .boxed-slider > div {
  position: relative;
}
.cid-sBTVQJtqMm .container img {
  width: 100%;
}
.cid-sBTVQJtqMm .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-sBTVQJtqMm .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-sBTVQJtqMm .mbr-table-cell {
  padding: 0;
}
.cid-sBTVQJtqMm .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sBTVQJtqMm .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-sBTVQJtqMm .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-sBTVQJtqMm .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-sBTVQJtqMm .carousel-item .container {
    width: 100%;
  }
}
.cid-sBTVQJtqMm .carousel-item-next.carousel-item-left,
.cid-sBTVQJtqMm .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-sBTVQJtqMm .mbr-slider .carousel-control {
  top: -50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
  z-index: 11;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-sBTVQJtqMm .mbr-slider .carousel-control {
    top: -50%;
    bottom: 1rem;
  }
}
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators li.active,
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators li::after,
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-sBTVQJtqMm .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-sBTVQJtqMm .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-sBTVQJtqMm .mbr-slider > .container img {
  width: 100%;
}
.cid-sBTVQJtqMm .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-sBTVQJtqMm .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-sBTVQJtqMm .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sBTVQJtqMm .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-sBTVQJtqMm .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-sBTVQJtqMm .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-sBTVQJtqMm .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-sBTVQJtqMm .full-screen .slider-fullscreen-image.active {
  display: flex;
}
.cid-sBTVQJtqMm .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-sBTVQJtqMm .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-sBTVQJtqMm .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-sBTVQJtqMm .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-sBTVQJtqMm .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-sBTVQJtqMm H2 {
  text-align: center;
}
.cid-sBTOaHO9dw {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sBTOaHO9dw .mbr-section-title {
  color: #353535;
}
.cid-sBTObgEWON {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sBTObgEWON .mbr-text {
  position: relative;
}
.cid-sBTObgEWON .mbr-text:before {
  color: #333333;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-sBTObgEWON img {
  object-fit: contain;
}
.cid-sBTObgEWON .mbr-text:after {
  color: #333333;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-sBTObgEWON .mbr-text:after,
  .cid-sBTObgEWON .mbr-text:before {
    display: none;
  }
}
.cid-sBTOchg74G {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sBTOchg74G .mbr-section-title {
  color: #353535;
}
.cid-sBTOcQDwyr {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sBTOcQDwyr .reverse {
  display: flex;
  flex-direction: row-reverse;
}
.cid-sBTOcQDwyr .wrapper {
  margin-bottom: 60px;
}
.cid-sBTOcQDwyr .content__block {
  margin: 30px 40px 40px;
}
@media (max-width: 991px) {
  .cid-sBTOcQDwyr .content__block {
    margin-left: 0;
    margin-right: 0;
  }
}
.cid-sBTOcQDwyr .mbr-section-title {
  margin-bottom: 20px;
  color: #353535;
}
.cid-sBTOcQDwyr .mbr-text {
  margin-bottom: 0;
  color: #919dab;
}
.cid-sBTOcQDwyr .mbr-section-btn {
  margin-top: 30px;
}
.cid-sBTOcQDwyr .mbr-section-btn .btn {
  font-weight: 500;
  margin-top: 0;
}
.cid-sBTOcQDwyr .image {
  transition: all .2s;
}
.cid-sBTOcQDwyr .image:hover {
  opacity: .7;
}
.cid-sBTOcQDwyr .image img {
  border-radius: 10px;
  width: 100%;
}
.cid-sBTOcQDwyr .mbr-text,
.cid-sBTOcQDwyr .mbr-section-btn {
  color: #232323;
}
.cid-sBTOdnh16e {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sBTOdnh16e img,
.cid-sBTOdnh16e .item-img {
  width: 100%;
}
.cid-sBTOdnh16e .item:focus,
.cid-sBTOdnh16e span:focus {
  outline: none;
}
.cid-sBTOdnh16e .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sBTOdnh16e .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sBTOdnh16e .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sBTOdnh16e .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sBTOdnh16e .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sBTOdnh16e .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sBTOdnh16e .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sBTOdnh16e .mbr-section-title {
  color: #353535;
}
.cid-sBTOdnh16e .mbr-text,
.cid-sBTOdnh16e .mbr-section-btn {
  text-align: center;
}
.cid-sBTOdnh16e .item-title {
  text-align: center;
}
.cid-sBTOdnh16e .item-subtitle {
  text-align: left;
}
.cid-sBUbqWBdvD {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sBUbqWBdvD img {
  width: 120px;
  margin: auto;
}
.cid-sBUbqWBdvD .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sBUbqWBdvD .card {
    max-width: 12.5%;
  }
}
.cid-sBTOfcQld4 {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/aerial-view-oil-refinery-refinery-plant-refinery-factory-night-1890x1062.jpg");
}
.cid-sBTOfcQld4 .mbr-overlay {
  background: linear-gradient(90deg, #353535, #000000);
}
.cid-sBTOfcQld4 h2,
.cid-sBTOfcQld4 h3,
.cid-sBTOfcQld4 h4,
.cid-sBTOfcQld4 p {
  color: #ffffff;
}
.cid-sBTOfcQld4 .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-sBTOfcQld4 .text-block {
  border-bottom: 1px solid #767676;
}
.cid-sBTOfcQld4 .media-container-row {
  -webkit-align-items: center;
  align-items: center;
}
.cid-sBTOfcQld4 .form-control {
  box-shadow: none;
  padding: 1.07em 1.07em;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  color: #000000;
  line-height: 1.43;
  min-height: 3.5em;
  border-radius: .25rem;
}
.cid-sBTOfcQld4 .form-control:focus,
.cid-sBTOfcQld4 .form-control:hover {
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
}
.cid-sBTOfcQld4 .form-group {
  margin-bottom: 1rem;
}
.cid-sBTOfcQld4 input::-webkit-input-placeholder,
.cid-sBTOfcQld4 textarea::-webkit-input-placeholder {
  color: #ff6666;
}
.cid-sBTOfcQld4 input:-moz-placeholder,
.cid-sBTOfcQld4 textarea:-moz-placeholder {
  color: #ff6666;
}
.cid-sBTOfcQld4 .jq-selectbox li,
.cid-sBTOfcQld4 .jq-selectbox li {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-sBTOfcQld4 .jq-selectbox li:hover,
.cid-sBTOfcQld4 .jq-selectbox li.selected {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-sBTOfcQld4 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-sBTOfcQld4 .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-sBTOfcQld4 .mbr-text {
  color: #767676;
}
.cid-sBTOfcQld4 a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-sBTOfcQld4 .multi-horizontal {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sBTOfcQld4 .input-group-btn {
  display: block;
  text-align: center;
}
.cid-sBTOfcQld4 textarea.form-control {
  resize: none;
}
@media (max-width: 767px) {
  .cid-sBTOfcQld4 h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-sBTOfcQld4 .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-sBTOfcQld4 .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-sBTOfcQld4 .google-map {
    padding-bottom: 2rem;
  }
}
.cid-sBTOfcQld4 H2 {
  text-align: center;
  color: #ffffff;
}
.cid-sBTOfNCWVZ {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .cid-sBTOfNCWVZ .content {
    text-align: center;
  }
  .cid-sBTOfNCWVZ .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-sBTOfNCWVZ .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-sBTOfNCWVZ .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sBTOfNCWVZ .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-sBTOfNCWVZ .google-map {
  height: 25rem;
  position: relative;
}
.cid-sBTOfNCWVZ .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sBTOfNCWVZ .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sBTOfNCWVZ .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sBTOfNCWVZ .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sBTOfNCWVZ .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sBTOfNCWVZ .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-sBTOfNCWVZ .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-sBTOfNCWVZ .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sBTOfNCWVZ .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sBTOfNCWVZ .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sBTOfNCWVZ .list {
  list-style-type: none;
  padding: 0;
}
.cid-sBTOfNCWVZ H5 {
  color: #353535;
}
.cid-sBTOfNCWVZ .mbr-text {
  color: #353535;
}
